@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  border: 2px solid red;
  font-family: "Anonymous Pro", monospace;
}

.formContainer {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  /* gap: 1rem; */
}

/* Background Image */
.backgroundImage {
  border: 1px solid red;
}

/* Text Area */
.textSection {
  border: 1px solid red;
  /* display: block; */
  background-color: #f0f0f0;
  /* padding-left: 20px; */
}

/* text section */
.textArea {
  border: 1px solid red;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Form Area */
.formArea {
  border: 1px solid red;
  margin-top: 20px;
  padding-bottom: 40px;

  box-shadow: 0px 10px 15px -10px black;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
}

/* Button Section */

.buttonArea {
  border: 1px solid red;
  padding-top: 20px;

  

}

button {
  border-radius: 10px;

  border-color: rgb(12, 245, 12);
  /* box-shadow: 2px 2px 10px -5px black; */
  box-shadow: 0 0 0 3px rgba(181, 66, 239, 0.5);



  padding: 12px 35px;
  background-color: rgb(47, 243, 151);
  color: white;

  
  font-weight: 500;
  font-size: large;
  
}
/* Already have an account? */


/* input fields */
input {
  border-radius: 5px;

}