@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* SOLUTION */

/* HEADER */

.header {
     display: flex; 
     justify-content: space-between; 
     margin-top: 20px; 
     padding-right: 30px;
     border: 2px solid red;
     
       
}

.header > .left-links {
     display: flex;
     justify-content:space-around ;
     gap: 20px;
     border: 2px solid black;
}

.header > .right-links{
     display: flex;
     justify-content: space-around;
     gap: 20px;
     border: 2px solid black;
     

}



/* CENTER */

.content {
     display: flex;
     flex-direction: column;
     margin: 30px;
     gap:30px;
     border: 2px solid red;
     /* padding: 100px; */
     

 
     
}

img {
     align-self: center;
     border: 2px solid black;

}

.input {
     align-self: center;
     border: 2px solid black;

}

.content > .buttons {
     display: flex;
     align-self: center ;
     gap:20px;
     border:2px solid black;
     

}


/* FOOTER */

.footer {
     display: flex;
     justify-content: space-between;
     padding-right: 30px;
     border:2px solid red;
     background-color: #eeeeee;


}

.footer > .left-links {
     display: flex;
     gap: 20px;

}

.footer > .right-links {
     display: flex;
     gap: 20px;

}