html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset CSS END*/

/* Font-face declarations  START */

@font-face {
  font-family: "AnonymousPro-Bold";
  src: url("./font/AnonymousPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "AnonymousPro-Regular";
  src: url("./font/AnonymousPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Bold";
  src: url("./font/Commissioner-Bold.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-ExtraBold";
  src: url("./font/Commissioner-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Light";
  src: url("./font/Commissioner-Light.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Medium";
  src: url("./font/Commissioner-Medium.woff") format("woff");
}

@font-face {
  font-family: "Monstserrat-Variable";
  src: url("./font/Montserrat-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "SNPro-VariableFont";
  src: url("./font/SNPro-VariableFont_wght.woff") format("woff");
}

/* Font-face declarations  END */

:root {
  height: 100vh;
  width: 100vw;
}

body {
  font-family:
    "Commissioner-Light", "AnonymousPro-Regular", "SNPro-VariableFont",
    "Monstserrat-Variable", "Arial", sans-serif;

  border: 1px solid red;
}

/* Container START */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar heading"
    "sidebar main-content";

  /* border: 1px solid red; */
}

/* container END */

/* sidebar START */

.sidebar {
  display: grid;
  grid-area: sidebar;
  background-color: lightskyblue;
  border: 1px solid red;

  nav {
    border: 1px solid red;
    
  }

  a {
    text-decoration: none;
  }
}

/* sidebar END */

/*heading START */

.heading {
  display: grid;
  grid-area: heading;
  border: 1px solid red;
  background-color: white;

  div {
    border: 1px solid red;
  }
}

.search-bar,
.user-profile,
.profile-user,
.nav-profile {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "search-bar user-profile"
    "profile-user nav-profile";
}

.search-bar {
  grid-area: search-bar;
}

.user-profile {
  grid-area: user-profile;
}

.profile-user {
  grid-area: profile-user;
}

.nav-profile {
  grid-area: nav-profile;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
    border-radius: 25px;
    text-decoration: none;
    background-color: lightskyblue;
    color: white;
  }
}

/* heading END */

/* main-content START */

.main-content {
  grid-area: main-content;
  border: 1px solid red;
  background-color: ash;

  grid-template-columns: 2fr 1fr;
  grid-template-areas: none
  "your-project announce-trend"
  
  ;

}

.your-project {


}


.announce-trend {

}

/* main-content END */
