html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset CSS END*/

/* Font-face declarations  START */

@font-face {
  font-family: "AnonymousPro-Bold";
  src: url("./font/AnonymousPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "AnonymousPro-Regular";
  src: url("./font/AnonymousPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Bold";
  src: url("./font/Commissioner-Bold.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-ExtraBold";
  src: url("./font/Commissioner-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Light";
  src: url("./font/Commissioner-Light.woff") format("woff");
}

@font-face {
  font-family: "Commissioner-Medium";
  src: url("./font/Commissioner-Medium.woff") format("woff");
}

@font-face {
  font-family: "Monstserrat-Variable";
  src: url("./font/Montserrat-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "SNPro-VariableFont";
  src: url("./font/SNPro-VariableFont_wght.woff") format("woff");
}

/* Font-face declarations  END */

/* Global styles START */

:root {
  height: 100vh;
  width: 100vw;
}

body {
  font-family:
    "Commissioner-Light", "AnonymousPro-Regular", "SNPro-VariableFont",
    "Monstserrat-Variable", "Arial", sans-serif;

  border: 1px solid red;
}

/* Global styles END */

/* Container START */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar heading"
    "sidebar main-content";

  /* border: 1px solid red; */
}

/* container END */

/* sidebar START */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 25px;

  padding: 20px;

  grid-area: sidebar;
  background-color: rgb(18, 164, 255);
  border: 1px solid red;

  img,
  a {
    color: white;
  }
}

.sidebar > div {
  border: 1px solid red;

  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
    /* color: white; */
    font-weight: bolder;
    font-size: x-large;
  }

  img {
    width: 45px;
    height: 45px;
  }
}

.sidebar > nav {
  border: 1px solid red;

  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 30px;
    height: 30px;
  }

  a {
    text-decoration: none;
    /* color: white; */
    font-weight: bolder;
  }
}

nav.communities {
  margin-bottom: 40px;
}

/* sidebar END */

/* heading Section START */

.heading {
  display: grid;
  grid-area: heading;
  border: 1px solid red;
  background-color: white;

  grid-template-columns: 2fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "search-bar user-profile"
    "profile-user nav-profile";

    padding: 10px;
}

.search-bar {
  border: 1px solid red;

  grid-area: search-bar;

    display: flex;
    align-items: center;
}

.user-profile {
  border: 1px solid red;

  grid-area: user-profile;
}

.profile-user {
  border: 1px solid red;

  grid-area: profile-user;
}

.nav-profile {
  border: 1px solid red;

  grid-area: nav-profile;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {

   

    border-radius: 25px;
    padding: 5px 25px;
    background-color: rgb(18, 164, 255);

    font-size: small;
    font-weight: bolder;
    color: white;


    text-decoration: none;
    
    
  }
}

/* heading END */

/* main-content START */

.main-content {
  grid-area: main-content;

  border: 1px solid red;
  padding: 30px;

  background-color: rgb(234, 230, 230);

  display: grid;

  grid-template-columns: 2fr 0.9fr;
  grid-template-areas: "your-project announce-trend";
  gap: 15px;
}

/* main-content (your-project) START */

.your-project {
  grid-area: your-project;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "super-cool-project less-cool-project"
    "impossible-app easy-peasy-app"
    "ad-blocker money-maker";

  gap: 15px;
  border: 1px solid red;
}

.super-cool-project {
  grid-area: super-cool-project;
}

.less-cool-project {
  grid-area: less-cool-project;
}

.impossible-app {
  grid-area: impossible-app;
}

.easy-peasy-app {
  grid-area: easy-peasy-app;
}

.ad-blocker {
  grid-area: ad-blocker;
}

.money-maker {
  grid-area: money-maker;
}

.super-cool-project,
.less-cool-project,
.impossible-app,
.easy-peasy-app,
.ad-blocker,
.money-maker {
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;

  /* padding:20px; */
  width: 100%;
  height: 80%;

  .img {
    border: 1px solid red;
       display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
  }
}

/* main-content (your-project) END */

/* main-content (announce-trend) START */

.announce-trend {
  border: 1px solid red;
  background-color: white;
  border-radius: 15px;
  grid-area: announce-trend;
}

.announce-trend {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "announcement"
    "trending";
  gap: 15px;
  /* background-color: rgb(234, 230, 230); */
}

.announcement {
  border: 1px solid red;
  border-radius: 5px;

  background-color: white;

  grid-area: announcement;
}

.trending {
  border: 1px solid red;
  border-radius: 5px;

  background-color: white;

  grid-area: trending;
}

/* main-content (announce-trend) START */

/* main-content END */
