/* Landing page project CSS */

body {
  display:flex;
  flex-direction: column;
  /* min-height:100vh */
  border:2px solid red;  
}

/* SECTION ONE */

.one{
  display:flex;  
  flex-direction: column;
  margin: 0 150px;
  gap:70px;
  border:2px solid red;
}

.header , .header2 {
  
  border:1px solid black;
}

.header {
  display:flex; 
  justify-content: space-between;
  align-items: center;
       
}


h3 {
  
  
}

a {
  text-decoration-line: none;
  color: black;
}

ul{
  list-style-type: none;
  
}

.header > .link {
  
}


.header2 {
  display:flex;
  margin-bottom:70px;
  /* flex:0;   */
  
}

.head-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border:1px solid lime; */
  
}


.head-left > h2 {
  font-size: xxx-large;
  text-wrap: wrap;
  border:1px solid lime;
}

.head-left > p {
    
  text-wrap: wrap;
  border:1px solid lime;
}

.head-left > button {

  border:1px solid lime;
}


.head-right {
  
  
  width:100%;  
  border:1px solid lime;
  
}

.head-right > p {

  text-align: center;
  border:1px solid lime;
}

/* SECTION TWO */

.two {
  display:flex;
  flex-direction: column;
  
  border:2px solid red;
}

.two > .title {
  font-weight: bold;  
  font-size: x-large;
  align-self: center;
}


.two > .title , .two-body {

  padding:50px;
  /* margin: 20px; */
  border:1px solid black;
}

.two-body {
    display:flex;
    justify-content: center;
    gap:20px;
    border:1px solid blue;
}

.two-body .body {
   
   text-align:center;
   max-width: 200px;
   border:1px solid greenyellow;
}


/* SECTION THREE */

.three {

  border:2px solid red;
}

/* SECTION FOUR */

.four {
  

  border:2px solid red;
}

/* SECTION END */


.footer {
  
  align-self: center;
  border:2px solid black;
}